// Here you can add other styles
.container-fluid {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px !important;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 50px !important; }
.report-card {
    text-decoration: none !important;
}
.td-centered {
    text-align: center;
}
.validated {
    color: green;
}
.invalidated {
    color: red;
}
.highlight {
    background-color: yellow;
}
.projRow {
//   @extend .row;
  border-bottom: 1px; 
  border-bottom-style:solid; 
  border-color:gainsboro;
  margin-bottom: 15px;
  line-height: 40px;
  transition: background 0.15s linear;
}
.projRow:hover {
//   background-color: ;
}
.fade {
  transition: 0.15s linear all;  
  transition-delay: 0.07s;
  opacity: 1;
}

.fade.ng-hide {
  opacity: 0;
}