<select class="form-control" style="font-size:16px;height:50px;" name="selectTopic" id="selectTopic" ng-options="topic.title for topic in vm.topics track by topic.id" ng-model="vm.selectedTopic" ng-change="vm.loadTopic()">
    <option value="" selected>----Select a Topic----</option>
</select>
<div ng-repeat="ref in vm.references">
    <h4>Reference:  {{ref.title}}</h4>
    <p><em>{{ref.description}}</em></p>
    <table>
        <th>Select</th>
        <th>Section</th>
        <tr ng-repeat="sect in ref.sections">
            <td><input type="checkbox" class="form-control" ng-model="selected" ng-change="vm.selectSection(sect)"></td>
            <td>{{sect.title}}</td>
        </tr>
    </table>
</div>
<button class="btn btn-primary" ng-click="vm.generateQuiz()">Generate Quiz</button>
{{vm.quizSelectors}}
<div ng-repeat="q in vm.quiz">
    {{q}}
</div>