<div style="text-align:center" class="fade">
    <h4>Topic</h4>
    <div class="input-group" style="padding-bottom:15px">
        <label for="topicTitle" class="quiz-label">Title:</label>
        <input type="text" id="topicTitle" class="form-control" ng-model="vm.topic.title">
    </div>
    <div class="input-group" style="padding-bottom:15px">
        <label for="topicTitle" class="quiz-label">Description:</label>
        <input type="text" id="topicDescription" class="form-control" ng-model="vm.topic.description">
    </div>
</div>
<br>
<button class="btn btn-primary btn-lg" style="width:100%" ng-click="vm.createTopic()">Add References <i class="fa fa-arrow-right"></i></button>
</div>