<ul class="nav nav-pills nav-justified" role="tablist" style="padding-bottom:20px">
    <li class="nav-item">
        <a tab class="nav-link btn" ng-class="{active: vm.activeTab === 'topic'}" data-toggle="tab" href="#topic" role="tab">Topic</a>
    </li>
    <li class="nav-item">
        <a tab class="nav-link btn" ng-class="{disabled: !vm.topic.id, active: vm.activeTab === 'references'}" data-toggle="tab"
            href="#references" role="tab" ng-click="vm.setActiveTab('references')">References</a>
    </li>
    <li class="nav-item">
        <a tab class="nav-link btn" ng-class="{disabled: !vm.selectedReference, active: vm.activeTab === 'sections'}" data-toggle="tab"
            href="#sections" role="tab" ng-click="vm.setActiveTab('sections')">Sections</a>
    </li>
    <li class="nav-item">
        <a tab class="nav-link btn" ng-class="{disabled: !vm.selectedSection, active: vm.activeTab === 'questions'}" data-toggle="tab"
            href="#questions" role="tab" ng-click="vm.setActiveTab('questions')">Questions</a>
    </li>
</ul>

<div class="tab-content">
    <!-- Topic Editor -->
    <div class="tab-pane active" id="topic" role="tabpanel">
        <div style="text-align:center" class="fade">
            <h4>Topic Details</h4>
            <div class="input-group" style="padding-bottom:15px">
                <label for="topicTitle" class="quiz-label">Title:</label>
                <input type="text" id="topicTitle" class="form-control" ng-model="vm.topic.title">
            </div>
            <div class="input-group" style="padding-bottom:15px">
                <label for="topicTitle" class="quiz-label">Description:</label>
                <input type="text" id="topicDescription" class="form-control" ng-model="vm.topic.description">
            </div>
        </div>
        <br>
        <a tab class="nav-link btn btn-info btn-lg nav-link-justified" ng-class="{disabled: vm.topic.title === ''}" data-toggle="tab"
            href="#references" role="tab" ng-click="vm.createTopic()">Save and Continue <i class="fa fa-arrow-right"></i></a>
    </div>

    <!-- Reference Editor -->
    <div class="tab-pane" id="references" role="tabpanel">
        <div style="text-align:center" class="fade">
            <h4>References for Topic: {{vm.topic.title}}</h4>
        </div>
        <div ng-show="vm.topic.references.length">
            <table class="table table-condensed">
                <tr>
                    <th style="width:10px">#</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th style="text-align:center">Sections</th>
                    <th style="text-align:center">Delete</th>
                </tr>
                <tr ng-repeat="ref in vm.topic.references">
                    <td>{{$index+1}}</td>
                    <td><input type="text" class="form-control" name="title" ng-value="ref.title" ng-model="ref.title" ng-blur="vm.updateReference(ref)"
                            placeholder="Enter title of new reference..." required></td>
                    <td><input type="text" class="form-control" name="description" ng-value="ref.description" ng-model="ref.description"
                            ng-blur="vm.updateReference(ref)" placeholder="Enter description of new reference..."></td>
                    <td style="text-align:center"><a tab class="nav-link btn" href='#sections' ng-click="vm.setReference(ref)" ng-class="{disabled: vm.topic.title === ''}"
                            data-toggle="tab" role="tab">Edit Sections</a></td>
                    <td style="text-align:center"><a href="" ng-click="vm.delReference(ref)" style="color:red"><i class="fa fa-trash"></i></a></td>
                </tr>
            </table>
        </div>
        <button class="btn btn-success btn-md" style="width:100%" ng-click="vm.addReference()"><i class="fa fa-plus"></i>&nbsp;Add Reference</button>
    </div>

    <!-- Sections Editor -->
    <div class="tab-pane" id="sections" role="tabpanel">
        <div style="text-align:center" class="fade">
            <h4>Sections in Reference: {{vm.selectedReference.title}}</h4>
        </div>
        <div ng-show="vm.selectedReference.sections.length">
            <table class="table table-condensed">
                <tr>
                    <th style="width:10px">#</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th style="text-align:center">Questions</th>
                    <th style="text-align:center">Delete</th>
                </tr>
                <tr ng-repeat="sect in vm.selectedReference.sections">
                    <td>{{$index+1}}</td>
                    <td><input type="text" class="form-control" name="title" ng-value="sect.title" ng-model="sect.title" ng-blur="vm.updateSection(sect)"
                            placeholder="Enter title of new section..." required></td>
                    <td><input type="text" class="form-control" name="description" ng-value="sect.description" ng-model="sect.description"
                            ng-blur="vm.updateSection(sect)" placeholder="Enter description of new section..."></td>
                    <td style="text-align:center"><a tab class="nav-link btn" href='#questions' ng-click="vm.setSection(sect)" ng-class="{disabled: sect.title === ''}"
                            data-toggle="tab" role="tab">Edit Questions</a></td>
                    <td style="text-align:center"><a href="" ng-click="vm.delSection(sect)" style="color:red"><i class="fa fa-trash"></i></a></td>
                </tr>
            </table>
        </div>
        <button class="btn btn-success btn-md" style="width:100%" ng-click="vm.addSection()"><i class="fa fa-plus"></i>&nbsp;Add Section</button>
    </div>

    <!-- Questions Editor -->
    <div class="tab-pane" id="questions" role="tabpanel">
        <div style="text-align:center" class="fade">
            <h4>Questions on Section: {{vm.selectedSection.title}}</h4>
        </div>
        <div ng-show="vm.selectedSection.questions.length">
            <table class="table table-condensed">
                <tr>
                    <th style="width:10px">#</th>
                    <th>Question</th>
                    <th>Answer</th>
                    <th style="text-align:center">Delete</th>
                </tr>
                <tr ng-repeat="q in vm.selectedSection.questions">
                    <td>{{$index+1}}</td>
                    <td><textarea rows="3" class="form-control" name="question" ng-value="q.question" ng-model="q.question" ng-blur="vm.updateQuestion(q)"
                            placeholder="Enter new question..." required></textarea></td>
                    <td><textarea rows="3" class="form-control" name="answer" ng-value="q.answer" ng-model="q.answer" ng-blur="vm.updateQuestion(q)"
                            placeholder="Enter description of new section..."></textarea></td>
                    <td style="text-align:center"><a href="" ng-click="vm.delQuestion(q)" style="color:red"><i class="fa fa-trash"></i></a></td>
                </tr>
            </table>
        </div>
        <div ng-show="vm.showBulkAdd" style="text-align:center">
            <hr>
            <h5>Separate questions and answers with a <strong>~</strong></h5>
            <h5>Place each question and answer pair on its own line</h5>
            <br>
            <h5>For example:</h5>
            <h5>
                What windows command will display IP configuration?~ipconfig<br> What linux directory stores configuration
                files?~/etc
            </h5>
            <br>
            <textarea id="bulkAdd" ng-model="vm.bulkAdd" rows="10" class="form-control"></textarea>
            <button class="btn btn-success btn-md" style="width:100%" ng-click="vm.bulkAddQuestions()"><i class="fa fa-plus"></i>&nbsp;Bulk Add Questions</button>
            <a href="" ng-click="vm.showBulkAdd = false">Cancel Bulk Add</a>
        </div>
        <div style="text-align:center" ng-hide="vm.showBulkAdd">
            <button class="btn btn-success btn-md" style="width:100%;margin-bottom:10px" ng-click="vm.addQuestion()"><i class="fa fa-plus"></i>&nbsp;Add Question</button>
            <br>
            <a href="" ng-click="vm.showBulkAdd = true">Bulk Add</a>
        </div>
    </div>
</div>