<header class="app-header navbar" data-ng-controller="indexController">
    <button class="navbar-toggler mobile-sidebar-toggler d-lg-none" type="button">&#9776;</button>
    <a class="navbar-brand" ui-sref="app.main"></a>
    <ul class="nav navbar-nav d-md-down-none">
        <li class="nav-item">
            <a class="nav-link navbar-toggler sidebar-toggler" href="#">&#9776;</a>
        </li>

        <ol class="breadcrumb" breadcrumb>
            <ncy-breadcrumb></ncy-breadcrumb>

            <!-- Breadcrumb Menu-->
            <!-- <li class="breadcrumb-menu">
                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                    <a class="btn btn-secondary" href="#"><i class="icon-speech"></i></a>
                    <a class="btn btn-secondary" ui-sref="app.main"><i class="icon-graph"></i> &nbsp;Dashboard</a>
                    <a class="btn btn-secondary" ui-sref="app.main"><i class="icon-settings"></i> &nbsp;Settings</a>
                </div>
            </li> -->

        </ol>

        <!-- <li class="nav-item px-3">
            <a class="nav-link" href="#">Dashboard</a>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link" href="#">Users</a>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link" href="#">Settings</a>
        </li> -->
    </ul>



    <ul class="nav navbar-nav ml-auto d-md-down-none">

        <!-- <li data-ng-hide="!authentication.isAuth"><a href="#">{{authentication.userName}}</a></li>
        <li data-ng-hide="!authentication.isAuth"><a href="#/orders">My Orders</a></li>
        <li data-ng-hide="!authentication.isAuth"><a href="" data-ng-click="logOut()">Logout</a></li>
        <li data-ng-hide="authentication.isAuth"> <a href="#/login">Login</a></li> 
        <li data-ng-hide="authentication.isAuth"> <a href="#/register">Sign Up</a></li> -->

        <!-- <li class="nav-item" data-ng-hide="!authentication.isAuth">
            <a class="nav-link" href="#"><i class="icon-bell"></i><span class="badge badge-pill badge-danger">5</span></a>
        </li>
        <li class="nav-item" data-ng-hide="!authentication.isAuth">
            <a class="nav-link" href="#"><i class="icon-list"></i></a>
        </li>
        <li class="nav-item" data-ng-hide="!authentication.isAuth">
            <a class="nav-link" href="#"><i class="icon-location-pin"></i></a>
        </li> -->
        <li class="nav-item dropdown" data-ng-hide="!authentication.isAuth">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-terminal"></i>
                <span class="d-md-down-none">{{userData.rateName}}</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right">

                <div class="dropdown-header text-center">
                    <strong>Account</strong>
                </div>

                <a class="dropdown-item" href="#"><i class="fa fa-bell-o"></i> Updates<span class="badge badge-info">42</span></a>
                <a class="dropdown-item" href="#"><i class="fa fa-envelope-o"></i> Messages<span class="badge badge-success">42</span></a>
                <a class="dropdown-item" href="#"><i class="fa fa-tasks"></i> Tasks<span class="badge badge-danger">42</span></a>
                <a class="dropdown-item" href="#"><i class="fa fa-comments"></i> Comment<span class="badge badge-warning">42</span></a>

                <div class="dropdown-header text-center">
                    <strong>Settings</strong>
                </div>

                <a class="dropdown-item" ui-sref="app.profile"><i class="fa fa-user"></i> Profile</a>
                <a class="dropdown-item" href="#"><i class="fa fa-wrench"></i> Setting</a>
                <a class="dropdown-item" href="#"><i class="fa fa-usd"></i> Payments<span class="badge badge-default">42</span></a>
                <a class="dropdown-item" href="#"><i class="fa fa-file"></i> Projects<span class="badge badge-primary">42</span></a>
                <div class="divider"></div>
                <a class="dropdown-item" href="#"><i class="fa fa-shield"></i> Lock account</a>
                <a class="dropdown-item" href="#" data-ng-click="logOut()"><i class="fa fa-lock"></i> Logout</a>
            </div>
        </li>
        <li class="nav-item" data-ng-hide="authentication.isAuth">
            <a ui-sref="app.login">Login</span></a>
        </li>
        <li class="nav-item" data-ng-hide="authentication.isAuth"> 
            <a ui-sref="app.register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link navbar-toggler aside-menu-toggler" href="#">&#9776;</a>
        </li>

    </ul>


</header>