<h4>New Project</h4>
<hr>
<div>
    <form class="form" role="form" name="newProjForm" ng-submit="project.submit()">
        <label for="title" class="form-label">Project Title:</label>
        <input type="text" id="title" class="form-control" ng-model="project.new.title" required>
        <hr>
        <label for="description" class="form-label">Project Description:</label>
        <textarea class="form-control" id="description" ng-model="project.new.description"></textarea>
        <hr>
        <div class="row" style="padding-left: 20px">
            <label for="category" class="form-label" style="padding-right: 10px">Categories:</label>
            <div ng-repeat="category in project.categories" style="padding-bottom:10px;">
                <span class="catspan">&nbsp;{{category}}&nbsp;
                <a href="#" ng-click="project.removeCategory(category)">
                    <small><i class="fa fa-close text-muted"></i></a></small>&nbsp;
                </span>
            </div>
        </div>
        <select name="category" id="category" ng-model="project.submittedCategory" ng-change="project.submitCategory(project.submittedCategory)"
            class="form-control">
            <option value="" selected>Select a Category</option>
            <option value="Programming">Programming</option>
            <option value="Networking">Networking</option>
            <option value="other">Other</option>
        </select>
        <div ng-if="project.newCategory">
            <label for="newcategory" class="form-label">Enter Category:</label>
            <div class="input-group">
                <input type="text" id="newcategory" ng-model="project.addedCategory" class="form-control" autocomplete="off">
                <span class="input-group-btn">
                        <button type="button" class="btn btn-info" ng-click="project.addCategory(project.addedCategory)">Add</button>
                    </span>
            </div>
        </div>
        <hr>
        <div ng-init="project.new.priority='normal'">
            <label for="priority" class="form-label">Priority: </label>
            <input type="radio" name="high" value="high" ng-model="project.new.priority">
            <label for="high" class="form-label">High</label>
            <input type="radio" name="normal" value="normal" ng-model="project.new.priority">
            <label for="normal" class="form-label" ng-selected>Normal</label>
        </div>
        <hr>
        <button type="submit" class="btn btn-primary" ng-click="project.submit()">Submit</button>
        <button type="reset" class="btn btn-danger">Reset</button>
    </form>
</div>