<div class="row">
    <div class="col-lg-6">
        <h4>{{project.title}}</h4>
    </div>
    <div class="col-lg-6">
        <div style="text-align:right;" ng-if="project.categories">
            <span class="text-muted"><i class="fa fa-tags"></i><span ng-repeat="category in project.categories | split">&nbsp;: {{category}}</span>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-lg-8 bordered">
        <strong>Description:</strong><br> <p style="white-space: pre-wrap;">{{project.description}}</p>
    </div>
    <div class="col-lg-4 bordered">
        <strong>Team Members:&nbsp;</strong>
        <span class="float-right">
        <a href="#" ng-show="!editTeamMember" ng-click="editTeamMember = true">Edit</a>
         <a href="#" ng-show="editTeamMember" ng-click="editTeamMember = false">Done</a> 
        </span>
        <!-- Add Team Member  -->
         <div class="input-group" ng-if="editTeamMember">
            <input type="text" ng-model="selected" uib-typeahead="user as user.rateName for user in users | filter:$viewValue" class="form-control">
            <span class="input-group-btn">
                <button type="button" class="btn btn-info" ng-click="addTeamMembers(selected)">Add</button>
            </span>
        </div>
        <!-- Display Team Members  -->
        <div ng-repeat="tm in project.teamMembers | orderBy:rateName">
        <span ng-if="editTeamMember"><a href="#" ng-click="delTeamMember(tm.id)"><i class="fa fa-close"></i></a></span>&nbsp;{{tm.rateName}}&nbsp;
        <span ng-if="editTeamMember && !tm.projectLead"><a href="#" ng-click="">Lead</a>
        <span ng-if="editTeamMember && tm.projectLead"><a href="#" ng-click="">Normal</a>
        <span ng-if="tm.projectLead">(Lead)</span>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-lg-12 bordered">
        <div class="row">
        <div class="col-lg-8">
            <strong>Tasks:</strong>
            <br><br>
            <div ng-repeat="task in project.workItems">
                <i class="fa fa-square-o" ng-if="!task.complete">&nbsp;</i>
                <i class="fa fa-check-square-o" ng-if="task.complete">&nbsp;</i>
                {{task.description}}
                <br><br>
            </div>
        </div>
        <div class="col-lg-4" align="center">
            <div class="chart-label" style="position:absolute;top:35%;left:34%" align="center" class="loadfade" valign="center">
                <strong>{{complete}}/{{complete+incomplete}}<br>
                TASKS<br>COMPLETED</strong>
            </div>
            <div class="col-lg-12">
                <canvas id="doughnut" class="chart chart-doughnut" chart-data="chart" chart-labels="labels" width="10%" height="10%"></canvas>
            </div>
        </div>
        </div>
    </div>
</div>