<div class="row">
    <div class="col-lg-11">
        <span ng-show="!editTitle" style="font-size:24px;font-weight:500">{{project.title}}&nbsp;</span>
        <a ng-show="!editTitle" href="#" ng-click="editTitle=true">Edit</a>
        <input type="text" ng-model="project.title" value="project.title" ng-show="editTitle" style="font-size: 20px;">
        <a ng-show="editTitle" href="#" ng-click="updateProj()">Save</a>
        <span class="text-muted" ng-if="project.categories"><br><i class="fa fa-tags"></i><span ng-repeat="category in project.categories | split">&nbsp;: {{category}}</span>
    </div>
    <div class="col-lg-1 float-right" align="right">
        <div align="center">
            <span class="text-muted">Complete</span><br>
            <label class='form-control-label' for='complete'>
            <a href="#" ng-if="!project.complete" ng-click="projectComplete(true)"><i class="fa fa-square-o fa-2x"></i></a>
            <a href="#" ng-if="project.complete" ng-click="projectComplete(false)"><i class="fa fa-check-square-o fa-2x"></i></a>
            </label>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-lg-8 bordered">
        <strong>Description:</strong>
        <span class="float-right">
            <a href="#" ng-show="!editDescription" ng-click="editDescription = true">Edit</a>
            <a href="#" ng-show="editDescription" ng-click="updateProj()">Save</a>
        </span>
        <br>
        <p ng-show="!editDescription" style="white-space: pre-wrap;">{{project.description}}</p>
        <textarea style="width:100%;height:180px;" ng-model="project.description" value="project.description" ng-show="editDescription"></textarea><br>
    </div>
    <div class="col-lg-4 bordered">
        <strong>Team Members:&nbsp;</strong>
        <span class="float-right">
        <a href="#" ng-show="!editTeamMember" ng-click="editTeamMember = true">Edit</a>
        <a href="#" ng-show="editTeamMember" ng-click="editTeamMember = false">Done</a>
        </span>
        <!-- Add Team Member  -->
        <form>
            <div class="input-group" ng-if="editTeamMember">
                <input type="text" ng-model="selected" uib-typeahead="user as user.rateName for user in users | filter:$viewValue" class="form-control">
                <span class="input-group-btn">
                <button type="submit" class="btn btn-info" ng-click="addTeamMembers(selected); selected=null">Add</button>
            </span>
            </div>
        </form>
        <!-- Display Team Members  -->
        <div ng-repeat="tm in project.teamMembers | orderBy:'projectLead'">
            <span ng-if="editTeamMember"><a href="#" ng-click="delTeamMember(tm.id)"><i class="fa fa-close"></i></a></span>&nbsp;{{tm.rateName}}
            <span ng-if="editTeamMember && !tm.projectLead"><a href="#" ng-click="toggleLead(tm)">Lead</a></span>
            <span ng-if="editTeamMember && tm.projectLead"><a href="#" ng-click="toggleLead(tm)">Normal</a></span>
            <span ng-if="tm.projectLead"><em>(Lead)</em></span>
        </div>
    </div>
</div>
<br>
<!-- Tasks  -->
<div class="row">
    <div class="col-lg-12 bordered">
        <div class="row">
            <div class="col-lg-8">
                <strong>Tasks:</strong>
                <br><br>
                <div ng-repeat="task in project.workItems">
                    <a href="#" ng-if="!task.complete" ng-click="taskComplete(task, true)"><i class="fa fa-square-o"></i></a>
                    <a href="#" ng-if="task.complete" ng-click="taskComplete(task, false)"><i class="fa fa-check-square-o"></i></a>
                    {{task.title}}
                    <a href="#" ng-click="showDetails=true" ng-hide="showDetails"><small>More</small>
                    <a href="#" ng-click="showDetails=false" ng-show="showDetails"><small>Less</small>
                    </a>
                    <!-- Task Details  -->
                    <div class="details-slide" ng-show="showDetails"  ng-class="task.priority == 'high' ? 'callout callout-danger' : 'callout callout-success'">
                        <strong>Description:</strong>
                        <br>
                        {{task.description}}<br>
                        <br>
                        <strong>Assigned To:</strong>
                        <div ng-repeat="tm in task.assignedUsers | orderBy:'rateName'">
                            <span ng-if="editTeamMember"><a href="#" ng-click="delTeamMember(tm.id)"><i class="fa fa-close"></i></a></span>&nbsp;{{tm.rateName}}
                            <span ng-if="editTeamMember && !tm.projectLead"><a href="#" ng-click="toggleLead(tm)">Lead</a></span>
                            <span ng-if="editTeamMember && tm.projectLead"><a href="#" ng-click="toggleLead(tm)">Normal</a></span>
                            <span ng-if="tm.projectLead"><em>(Lead)</em></span>
                        </div>
                        <span ng-if="task.assignedUsers.length == 0"><br>No one is assigned to this task</span>
                    </div>
                        <hr>
                    
                </div>
            </div>
            <div class="col-lg-4" align="center">
                <div class="chart-label" style="position:absolute;top:60px;left:85px" align="center" class="loadfade" valign="center">
                    <strong>{{complete}}/{{complete+incomplete}}<br>
                    TASKS<br>COMPLETED</strong>
                </div>
                <div class="col-lg-12">
                    <canvas id="doughnut" class="chart chart-doughnut" chart-data="chart" chart-labels="labels" width="10%" height="10%"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<!-- Footer  -->
<div class="row">
    <div class="col-lg-6">
        <button type='button' class='btn btn-success' data-toggle="modal" data-target="#newTaskModal">Add Task</button>
        <!-- Modal -->
        <div id="newTaskModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add a Task</h5>
                        <button type="button" class="close float-right" data-dismiss="modal"><i class="fa fa-remove"></i></button>
                    </div>
                    <div class="modal-body" style="text-align: center">
                        <!-- FORM  -->
                        <ng-form name="newTaskForm">
                            <label for="title" class="form-label" style="float:left">Title:</label>
                            <input type="text" id="title" class="form-control" ng-model="newTask.title" required>
                            <hr>
                            <label for="description" class="form-label" style="float:left">Description:</label>
                            <input type="text" id="description" class="form-control" ng-model="newTask.description" required>
                            <hr>
                            <!-- Assign Users  -->
                            <form name="assignForm">
                                <label for="assign" class="form-label" style="float:left">Assign To:</label>
                                <div class="input-group">
                                    <input type="text" id="assign" ng-model="taskSelected" uib-typeahead="user as user.rateName for user in project.teamMembers | filter:$viewValue" class="form-control">
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn-info" ng-click="assignTask(taskSelected); taskSelected=null">Add</button>
                                    </span>
                                </div>
                            </ng-form>
                            <!-- Display Selected Users  -->
                            <div ng-repeat="user in assignedUsers" style="text-align:left">
                                <a href="#" ng-click="unassignTask(user, $index)"><i class="fa fa-close"></i></a>
                                &nbsp;{{user.rateName}}
                            </div>
                            <hr>
                            <div style="text-align:left">
                                <label for="priority" class="form-label">Priority: </label>
                                <input type="radio" name="high" value="high" ng-model="newTask.priority">
                                <label for="high" class="form-label">High</label>
                                <input type="radio" name="normal" value="normal" ng-model="newTask.priority">
                                <label for="normal" class="form-label" ng-selected>Normal</label>
                            </div>
                        </ng-form>
                        {{newTask}}
                    </div>
                    <div class="modal-footer">
                         <button type="button" class="btn btn-primary" ng-click="saveTask()" remove-modal>Submit</button> 
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6" style="text-align:right;" align="right">
        <button type='button' class='btn btn-danger' ng-click='delProject()'>Delete Project</button>
    </div>
</div>