<h4>
    Your Tasks</h4>
<hr>
<div class="row">
    <div ng-repeat="task in projects.workItems">
        {{task.description}}
        <div class="projRow" ng-mouseenter="hover=true" ng-mouseleave="hover=false">
            <div>
                <span><strong>{{task.title}}</strong></span>
            </div>
            <div ng-hide="hover" style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">
                {{task.description}}
            </div>
            <div ng-show="hover" style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">
                <span class="fade" style="padding-right: 30px;" ng-show="hover"><i class="fa fa-cogs"></i>&nbsp;<a href="#">Details</a></span>
                <span class="fade" style="padding-right: 30px;" ng-show="hover"><span class="badge badge-pill badge-info">{{project.workItems.length}}</span>&nbsp;
                <a href="#">Tasks</a>
                </span>
                <!-- ADD A VARIABLE IN THE CONTROLLER TO CHECK IF A PROJECT LEAD IS ASSIGNED  -->
                <!--         NG-IF TO DISPLAY "NONE" NEXT TO TEAM LEAD(S) IF EMPTY            -->
                <span class="fade" ng-show="hover"><i class="fa fa-users"></i>&nbsp;Lead(s): <em><span ng-repeat="member in project.teamMembers | filter:{projectLead: null}"><i class="fa fa-caret-right-o"></i>{{member.rateName}}.&nbsp;</span></em>
                </span>
            </div>
            <div style="text-align:right;">
                <span class="text-muted"><small><i class="icon-tag"></i>&nbsp;{{project.category}}</small></span>
            </div>
        </div>
    </div>
    <div style="width:100%">
        <input type="search" ng-model="search.title" class="form-control" placeholder="Filter projects...">
    </div>
    </uib-tabset>
</div>