<div class="row">
    <div class="col-lg-6">
        <h4 ng-if="!$stateParams.id">{{vm.curUser.team}} Team Projects</h4>
    </div>
    <div class="col-lg-6">
            <input type="search" ng-model="projFilter" class="form-control" placeholder="Filter projects...">
    </div>
</div>
<hr>
<div>
    <span ng-if="vm.yourProjs.length == 0">You are not currently assigned to any projects.</span>
    <div ng-repeat="project in vm.yourProjs | filter:projFilter | orderBy:['complete','id']">
        <project-details project="project"></project-details>
        <hr>
    </div>
</div>